.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    box-shadow: 0 1px 5px #00000038;
    flex-direction: row;
    gap: 30px;
    padding-left: 30px;
    background: #fff;
    z-index: 999;
    align-items: center;
}
.structura{
    font-size: 12px;
    display: flex;
    gap: 5px;
}
.structura span{
    color: rgb(132, 131, 131);
    cursor: pointer;
    transition: all .3s linear;
}
.structura span:hover, .header a:hover{
    color: orange;
}
.create{
    font-size: 25px;
    color: rgb(132, 131, 131);
    cursor: pointer;
}